.main-container {
    margin-top: 130px;
    margin-left: 2%;
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    text-align: center;
}

.title {
    font-size: 55px;
    font-weight: bold;
    margin-bottom: 50px;
}

.sublist {
    text-align: left;
    margin-left: 21%;
}

.contactlist{
    text-align: left;
    margin-left: 33%;
    margin-top: 50px;

    background-color: #8E8A8A;
    padding: 30px;
    border-radius: 30px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: fit-content;
}

.contact-link {
    color: white;
    text-decoration: none;
  }
  
  .contact-link:hover {
    text-decoration: underline;
  }