.main-container {
    margin: 130px auto 0 auto;
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    text-align: center;
    max-width: 900px;
    padding: 0 20px;
}


.title {
    font-size: 55px;
    font-weight: bold;
    margin-bottom: 50px;
}

.sublist {
    text-align: left;
    margin: 30px auto 0 auto;
    max-width: 600px;
    width: 90%;
}


.contactlist {
    text-align: left;
    margin: 50px auto 0 auto; /* Top margin, auto horizontal, 0 bottom */
    background-color: #aaa;
    padding: 30px;
    border-radius: 30px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: fit-content;
    max-width: 90%; /* ensures good sizing on small screens */
}


.contact-link {
    color: white;
    text-decoration: none;
  }
  
  .contact-link:hover {
    text-decoration: underline;
  }