.head {
    color: white;
    font-size: 90px;
    font-weight: bold;
    margin-bottom: 1px;
}

@media (max-width: 768px) {
    .head {
      font-size: 60px;
    }
  }
  
  @media (max-width: 480px) {
    .head {
      font-size: 40px;
    }
  }
  

.sub-head {
    color: rgba(245, 245, 245, 0.714);
    font-size: 20px;
}

.main-container {
    margin-top: 13%;
    margin-left: 15%;
    padding: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

button {
    margin-top: 15px;
}